* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color:#FAF7F3; 
}



.login,
.cadastro {
  height:100vh;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-logo {
  width: 13em;
}

.order-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-login {
  width: 85vw ;
  background-color: transparent;
  opacity: 0.60; 
  border-radius: 7px;
  border: 2px solid #FBF395;
  padding: 0.8em;
  margin-top: 0.6em;
}

.btn-Login,
.criar-Conta {
  background-color: #FAE62E;
  width: 60vw;
  height: 2.6em;
  margin-top: 0.6em;
  border-radius: 7px;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.login-com{
  color: #FBF395;
  margin-top: 2em;
}

.outros-logins{
  display: flex;
  width: 85vw;
  justify-content: space-between;
}

.btn-Facebook, 
.btn-Google {
  width: 40vw;
  height: 2.6em;
  background-color: #FBF395;
  margin-top: 0.6em;
  border-radius: 7px;
  border: none;
  font-size: 1em;
}

.criar-Cadastro {
  background-color: transparent;
  border: 0;
  color: #FBF395;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
  text-decoration: underline;
  margin-top: 2em;
} 

header {
  width: 90vw;
  margin: 5vw;
  display: flex;
  height: 3em;
  justify-content: space-between;
  align-items: center;
}

.name-user {
  color: #1c1c1c;
  font-size: 1.5em;
  margin-top: 2em;
}

.photo-profile {
  border-radius: 30em;
  height:60px;
  width:60px;
}

.btn-Logout {
  padding: 0.5em;
  border-radius: 100em;
  height: 3em;
  cursor: pointer;
}

.logtout{
  border: none;
  outline: none;
  background-color: transparent;
}

.post__button{
  background-color: #1C1C1C;
  width: 26vw;
  height:2em;
  color:#FBF395 ;
  margin-top: 0.6em;
  border-radius: 7px;
  border:none;
  font-size:1em;
  cursor: pointer;
  box-shadow: 0 4px 0 #2e2d2d;
}

.post__button:active{
position:relative;
top: 5px;
box-shadow: none;
}

.post-enviar {
  width: 90vw;
  margin: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.post__textarea {
  width:90vw;
  height: 10em;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid #1c1c1c;
  margin-top: 3.5em;
  background-color: #ffffad;
}

.posts-enviados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}


.card-post {
  border: #000000 1px solid;
  width: 90vw;
  margin-bottom: 0.5em;
  border-radius: 10px;
  padding: 1em;
  background-color: #ffffad;
  
}

.nome-usuario {
  font-size: 1em;
  display: inline;
  flex-wrap: wrap
} 

.texto-post {
  color: #333333;
  margin-top: 0.5em;
}



.info-post { 
 display: flex;
 justify-content: space-between;
 border-bottom: 2px solid #1c1c1c; 
 align-items:center; 
 padding-bottom: 0.3em;

}

.btn-editar {
  background: #1C1C1C;
  border-radius: 7px;
  color: #FBF395;
  height: 5vh;
  width: 16vw;
  border: none;
  margin-left: 0.5em;
  cursor: pointer;
  box-shadow: 0 4px 0 #2e2d2d;
}

.btn-editar:active {
  position:relative;
  top: 5px;
  box-shadow: none;
}

.btn-excluir {
  background: transparent;
  color: #1c1c1c;
  border: none;
  width: 23px;
  height:20px;
  border-radius: 100px;
  cursor: pointer;
}

.btn-excluir:active {
  position:relative;
  top: 5px;
  box-shadow: none;
}

.div-like {
  display: flex;
}

.btnLike {
  margin-top: 2em; 
  background: #1C1C1C;
  border-radius: 7px;
  color: #FBF395;
  height: 5vh;
  width: 16vw;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 0 #2e2d2d;
}

.btnLike:active {
  position:relative;
  top: 5px;
  box-shadow: none;
}

.mostra-like {
  display: inline;
  margin-top: 0.5em;
}

.area-editar,
.uid-escondido,
.id-escondido {
  display: none;
}

.area-editar-block {
  display: block;
}

@media (min-width: 1000px) {
  
  .btn-Logout {
    padding: 0.5em;
    border-radius: 100em;
    width: 75px;
    height: 75px;
  }

  .name-user {
    color: #1c1c1c;
    font-size: 2.5em;
    margin-top: 2em;
  }
  
  .photo-profile {
    border-radius: 30em;
    height:125px;
    width:125px;
  }

  .post__button{
    background-color: #1C1C1C;
    width: 16vw;
    height:2.8em;
    color:#FBF395 ;
    margin-top: 0.6em;
    border-radius: 7px;
    border:none;
    font-size:1.3em;
    margin-left:26em ;

  }

  .post-enviar {
    width: 90vw;
    margin: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .post__textarea {
    width:75vw;
    height: 12em;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid #1c1c1c;
    margin-top: 6em;
    font-size:1.8em;
  }


  .card-post {
    border: #000000 1px solid;
    width: 75vw;
    height: 38vh;
    margin-bottom: 0.5em;
    border-radius: 10px;
    padding: 1em;
    margin-top: 2em;
    font-size:1.8em;
  }

  .btn-editar {
    height: 6vh;
    width: 12vw;
    margin-left: 4em;
    font-size:0.7em;
    margin-left: 17em;
  }
  
  .btn-excluir {
    background: transparent;
    color: #1c1c1c;
    border: none;
  }

  .btnLike {
    margin-top: 2em; 
    background: #1C1C1C;
    border-radius: 7px;
    color: #FBF395;
    height: 6vh;
    width: 16vw;
    border: none;
    font-size:0.7em;
    
  }
  
  .mostra-like {
    display: inline;
    margin-top: 0.5em;
  }


}